body {
    box-sizing: border-box;
    margin: 0;
    background-color: #1F2937;
}

div {
    position: relative;
    font-family: sans-serif;
}

#header {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-flex {
    width: 65%;
    height: 100%;
    display: flex;
}

#header-right {
    display: flex;
    height: 100%;
    width: 50%;
    color: #E5E7EB;
    font-size: 18px;
    font-family: sans-serif;
    align-items: center;
    justify-content: flex-end;
    gap: 25px;
}

a {
    cursor: pointer;
}

#header-left {
    display: flex;
    height: 100%;
    width: 50%;
    color: #F9FAF8;
    font-size: 34px;
    font-family: sans-serif;
    font-weight: bold;
    align-items: center;
}

#header-left span {
    font-weight: bolder;
}

#content-panel-1 {
    display: flex;
    justify-content: center;
    height: 60vh;
    gap: 150px;
}

#panel-1-left {
    width: 25%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#panel-1-left h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: 0;
}

#panel-1-left p {
    font-size: 18px;
    color: #E5E7EB;
}

#image {
    margin: auto 0;
    object-fit: cover;
    width: 650px;
    height: 400px;
}

#panel-1-left button {
    border: none;
    color: white;
    background-color: #3882F6;
    display: inline-block;
    width: 25%;
    height: 35px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}


#content-panel-2 {
    height: 70vh;
    background-color: #ffffff;
}

.wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 155px;
}

.wave .shape-fill {
    fill: #1F2937;
}